:root{
    --backgroundColor--:#5D3891;
    --textColor--: #fff;
    --Hover--: #F99417;
    --Other--: #E8E2E2;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    position: relative;
    
}

.logo{
    margin-left: 60px;
    position: relative;
}

.logo img{
    margin-top: 7px;
    width: 50px;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 2px 1px 5px 0 #6c07f9;
}

.header{
    position: fixed;
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 0px 10px #1c11ef;
    background-color: #6C63FF;
    z-index: 10;
}

.navBar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
    list-style-type: none;
    margin-left: 80px;
}

.navBar a{
    text-decoration: none;
    color: var(--textColor--);
    font-size: 1.5em;
    transition: .3s;
}

.navBar a:hover{
    /* color: var(--backgroundColor--); */
    text-decoration: underline; 
}


.search{
    position: relative;
    height: 20px;
    margin-right: 140px;
}

.search input{
    margin-top: -5px;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 32px;
    text-align: center;
    border-radius: 6px;
    width: 240px;
    box-shadow: 8px 5px 20px 1px #5D3891;
}

.search input::placeholder{
    color: #6C63FF;
    border: none;
    text-align: center;
}

.main-content{
    position: fixed;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor--);
    background: url(Images/images/launching.svg);
    filter: blur(5px);
    -webkit-filter: blur(1.2px);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.main-header{
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-home{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;

}

.home{
    margin-left: -70px;
}

.home h2:nth-of-type(1){
    font-size: 3em;
    color: #342cd0;
    font-weight: 900;
}

.home h2:nth-of-type(2){
    font-size: 5em;
    color: #F99417;
    font-weight: 700;
}

.home p{
    margin-top: 60px;
    color: #F99417;
    font-size: 2em;
}

.home button{
    margin-top: 40px;
    background-color: #5D3891;
    height: 40px;
    width: 50%;
    font-size: 1.3em;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    transition: .3s;
}

.home button:hover{
    background-color: #E8E2E2;
    color: #522592;
    transform: scale(1.2);
    left: 10px;
}

.home-img img{
    margin-top: -50px;
}

.main-header h1{
    font-size: 1.8em;
    /* position: absolute; */
    margin-top: 90px;
    text-align: center;
    width: 100%;
}

.main-header label{
    color: #1c11ef;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.main-header sup{
    color: #522592;
}

.main-header span{
    border: 1px solid #1c11ef;
    border-radius: 6px;
    padding: 3px;
}

.products-img{
    display: flex;
    position: relative;
    margin-top: -40px;
    /* justify-content: space-evenly; */
}

.item-1{
 width: 200px;
 background-color: #F99417;
}