:root{
    --backgroundColor--:#5d38916a;
    --textColor--: #fff;
    --Hover--: #F99417;
    --Other--: #E8E2E2;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    position: relative;
    
}

.logo{
    margin-left: 60px;
    position: relative;
}

.logo img{
    margin-top: 7px;
    width: 50px;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 2px 1px 5px 0 #6c07f9;
}

.header{
    position: fixed;
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 0px 10px #F99417;
    background-color: #522592;
    z-index: 10;
}

.navBar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
    list-style-type: none;
    margin-left: 80px;
}

.navBar a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--textColor--);
    font-size: 1.1em;
    transition: .3s;
}

.navBar a::after{
    position: absolute;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -1px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}

.navBar a:hover::after{
    transform: scale(1);
    transform-origin: left;
}


.search{
    position: relative;
    height: 20px;
    margin-right: 140px;
}

.search input{
    margin-top: -5px;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 32px;
    text-align: center;
    border-radius: 6px;
    width: 240px;
    box-shadow: 8px 5px 20px 1px #5D3891;
}

.search input::placeholder{
    color: #6C63FF;
    border: none;
    text-align: center;
}

.main-content{
    position: fixed;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor--);    
    /* background: url(Images/images/others/launching.svg); */
    filter: blur(5px);
    -webkit-filter: blur(1.2px);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.main-header{
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-home{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.home{
    margin-left: -70px;
}

.home h2:nth-of-type(1){
    font-size: 3em;
    color: #522592;
    font-weight: 900;
}

.home h2:nth-of-type(2){
    font-size: 5em;
    color: #F99417;
    font-weight: 700;
}

.home p{
    margin-top: 60px;
    color: #522592;
    font-size: 2em;
}

.home button{
    margin-top: 40px;
    background-color: #5D3891;
    height: 40px;
    width: 50%;
    font-size: 1.3em;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    transition: .3s;
}

.home button:hover{
    background-color: #E8E2E2;
    color: #522592;
    transform: scale(1.2);
    left: 10px;
}

.home-img img{
    margin-top: -50px;
}

.main-header h1{
    font-size: 1.8em;
    /* position: absolute; */
    margin-top: 90px;
    text-align: center;
    width: 100%;
}

.main-header label{
    color: #522592;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.main-header sup{
    color: #522592;
}

.main-header span{
    border: 1px solid #522592;
    border-radius: 6px;
    padding: 3px;
}

.products-img{
    display: flex;
    position: relative;
    margin-top: -80px;
    /* justify-content: space-evenly; */
}

.item-1{
 width: 500px;
 background-color: #F99417;
 height: 130px;
 text-align: center;
 align-items: center;
 display: flex;
 justify-content: center;
 flex-direction: column;
 color: #fff;
 font-weight: 700;
 font-family: "poppins";
}

.item-2{
    width: 500px;
    background-color: #522592;
    height: 130px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    font-family: "poppins";
   }

.img img{
    width: 70px;
}

.featured-pro{
    
    position: absolute;
    /* margin-top: -20px; */
    background-color: #c0b1d4;
    height: 100vh;
    backdrop-filter: blur(20px);
    /* height: 100%; */
}

.hello{
    position: relative;
    background: url(Images/images/others/fashion_photoshoot.svg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.left img{
    position: absolute;
    left: 0;
    /* width: 50px; */
    z-index: 10;
}

.right img{
    position: absolute;
    width: 50px;
}

.featured-products h3{
    position: relative;
    margin-top: 30px;
    margin-left: 120px;
    color: #000;
    font-size: 35px;
}

.featured-products h3::after{
    position: absolute;
    content: "";
    border-bottom: 6px solid #F99417;
    width: 90%;
    height: 10px;
    left: -2px;
    top: 30px;

}

.featured-products{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.fff{
    display: flex;
    position: relative;
    flex-direction: column;
}

.feart-img-1{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 120px;
    gap: 10px;


}

.featured .pic{
    position: relative;
    background-color: #e5e3e3;
    width: 245.9px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featured p{
    letter-spacing: 2px;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}

.featured img{
    width: 20px;
}

.see-more{
    width: 70px;
    background-color: #1c11ef;
    font-size: 25px;
}

.contact{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    max-width: 720px;
    box-shadow: 0 0 20px #522592;
}

.contact p{
    text-decoration: underline;
}

.social, .whatsapp{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.media img{
    width: 40px;
    border: 1px solid #522592;
    border-radius: 8px;
    /* width: 50px; */
    margin-top: 20px;
    transition: .3s;
}

.media img:hover{
    box-shadow: 0 0 20px #F99417;
    border-radius: 50%;
    transform: scale(1.2);
}

.whatsapp a{
    position: relative;
    color: #000;
    text-decoration: none;
    border: 1px solid #F99417;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #5D3891;
    width: 170px;
    font-size: 20px;
}

.whatsapp img{
    width: 40px;
}

.location{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: -90px;
}

.location .address{
    text-align: center;
    margin-left: 50px;
}

.address h5{
    text-decoration: underline;
    font-size: 25px;
    font-family: "poppins";
    font-weight: 700;
}

.address li{
    color: #F99417;
    list-style-type: none;

}

.say-something{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: 50px;
}

.arrow{
    color: #F99417;
}

.say-something .what{
    color: #522592;
    background-color: #F99417;
    border: 2px solid #000;
    width: 350px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.say-something a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 25px;
    border: 2px solid #F99417;
    color: #F99417;
    background-color: #522592;
    border-radius: 8px;
    padding: 2px;
    transition: .5s;

}

.say-something a:hover{
    background-color: #fff;
    color: #522592;
}

.send-text{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}

.send-text input{
    width: 120px;
    margin-top: 10px;
    border-radius: 8px;
    height: 30px;
    background-color: #522592;
    color: #fff;
    font: 30px;
    transition: .5s;
}

.send-text input:hover{
    transform: scale(1.1);
}

.sent{
    position: absolute;
    margin-top: -150px;
    text-align: center;
    width: 500px;
    text-transform: capitalize;
    font-size: 30px;
    background-color: #522592;
    color: #F99417;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
    transform: scale(0);

    /* z-index: -99; */
}

textarea{
    text-align: center;

}

.showSent{
    position: relative;
    transform: scale(1.3);
    
}



.footer h4{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #F99417;
    align-items: center;
    color: white;
    font-family: "poppins";
    display: flex;
    align-items: center;
    justify-content: center;
}
