:root{
    --backgroundColor--:#5D3891;
    --textColor--: #fff;
    --Hover--: #F99417;
    --Other--: #E8E2E2;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    position: relative;
    
}


.logo img{
    margin-top: 7px;
    width: 30px;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 2px 1px 5px 0 #6c07f9;
}

.header{
    position: fixed;
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    box-shadow: 0px 0px 10px #1c11ef;
    background-color: #6C63FF;
    z-index: 10;
}

.navBar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
    list-style-type: none;
    margin-left: 80px;
}

.navBar a{
    text-decoration: none;
    color: var(--textColor--);
    font-size: 1.5em;
    transition: .3s;
}

.navBar a:hover{
    /* color: var(--backgroundColor--); */
    text-decoration: underline; 
}

.search{
    margin-right: 50px;
}

.search{
    position: relative;
    height: 20px;
}

.search input{
    margin-top: -5px;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 32px;
    text-align: center;
    border-radius: 6px;
    width: 150px;
    box-shadow: 8px 5px 20px 1px #5D3891;
}

.search input::placeholder{
    color: #6C63FF;
    border: none;
    text-align: center;
}

.main-content{
    position: fixed;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor--);
    background: url(Images/images/launching.svg);
    filter: blur(5px);
    -webkit-filter: blur(1.2px);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header h1{
    font-size: 1.8em;
    position: absolute;
    margin-top: 70px;
    text-align: center;
    width: 100%;
}

.main-header label{
    color: #1c11ef;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.main-header sup{
    color: #522592;
}

.main-header span{
    border: 1px solid #1c11ef;
    border-radius: 6px;
    padding: 3px;
}